<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EchoVid</title>
</head>
<body>
    <h1>Welcome on Homepage</h1>
    {% if connected|length != 0 %}
        <form id="form" method=post enctype=multipart/form-data>
            <input type=file name=file required>
            <button type="button" onclick="submitForm()">Submit</button>
        </form>
    {% endif %}
    <p><a href="{{url_for('logout')}}">Logout</a></p>
    <div>
        <h3>Connected Apps</h3>
        {% for item in connected %}
            {{item}}
        {% endfor %}
    </div>
    <div>
        <h3>Pending Apps</h3>
        {% for item in pending %}
            <a href="{{url_for(item + 'Login')}}">{{item}}</a>
        {% endfor %}
    </div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div>{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div id="message"></div>

    <script>
        function submitForm() {
            var formData = new FormData(document.getElementById('form'));
            fetch('/upload-instagram', {
                method: 'POST',
                body: formData,
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('message').innerHTML = data.message;
            })
        }
    </script>
</body>
</html>